/* Generic */

body{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.container{
    margin: 0 auto;
    padding: 20px;
}

.overtitle{
    text-transform: uppercase;
    color: #AF05AA;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;

    padding-top: 28px;
    padding-bottom: 16px;
}

.title{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    padding-bottom: 24px;
}

/* HEADER */

#header-container{
    background-color: #F5EEEE;
}

.header{
    color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 116px;
    height: 32px;
}

.header-button{
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    line-heigth: 24px;

    border: 2px solid #000000;
    padding: 12px 24px;
    border-radius: 90px;
}

.header-button:hover{
    color: #3C3640;
    border: 2px solid #3C3640;
}

/* HERO */

#hero-container{
    background-color: #F5EEEE;
}

.hero-text{
    padding: 28px 0;
}

.hero-title{
    color: #0A0A0A;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.hero-subtitle{
    font-size: 20px;
    line-height: 28px;
    padding: 16px 0;
}

.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-transform: uppercase;

    color: #FFFFFF;
    background-color:#EA21A2;
    padding: 20px 40px;
    border-radius: 90px;
    margin-top: 16px;
}

.hero-button:hover{
    color: #FFFFFF;
    background-color:#AF05AA;
}

.hero-img img{
    max-width: 100%;
    margin-bottom: -20px;
}

/* SERVICES */


.services-cards{
    width: 100%;
}

.services-card img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.services-card .title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 32px 32px 8px 32px;
}

.services-card .text{
    font-size: 16px;
    line-height: 24px;
    padding: 0 32px 32px;
}


.services-card{
    background-color: #F5EEEE;
    border-radius: 32px;
    margin-bottom: 28px;
}


/* LOCATION */

#location-container{
    background-color: #F5EEEE;
}

.location-address{
    display: flex;
    align-items: center;    
    font-size: 20px;
    line-height: 28px;
    gap: 16px;
    padding-bottom: 48px;
}

/* FOOTER */
#footer-container{
    background-color: #EA21A2;
    color: #FFFFFF;
}

.logo-copy{    
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    padding: 28px 0;
}

.footer-logo{
    height: 56px;
    width: 232px;
}

.footer-socials a{
    color: #FFFFFF;
}


/* DESKTOP */

@media(min-width: 1024px){
    .container{
        max-width: 1280px;
        padding: 0 72px;
    }

    .overtitle{
        padding-top: 96px;
    }

    #header-container{
        padding: 32px 0;
    }

    .hero{
        display: flex;
        align-items: center;
    }

    .hero-img img{
        max-width: 100%;
        margin-bottom: 0;
    }
    

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .services{
        margin-bottom: 48px;
    }

    .services-cards{
        display: flex;
        gap: 32px;
        padding: 48px 0;
    }

    .logo-copy{    
        padding: 48px 0;
    }

    .logo-socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}